<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="/#/todolist">Todo List</a></li>
    <li><a ng-href="/#/github">Github Search</a></li>
    <li class="active"><a ng-href="/#/gallery">Gallery</a></li>
  </ul>
  <h3 class="text-muted">Angular examples</h3>
</div>

<div class="album-wrapper">
  <div class="photo-box">
    <img ng-src="{{ current.image }}" alt="{{ current.title }}">
    <p>{{ current.title }}</p>
  </div>
  <div class="gallery-wrapper">
    <ul class="gallery">
      <li ng-repeat="image in images" ng-click="setCurrent(image)">
        <img ng-src="{{ image.thumbnail }}" alt="{{ image.title }}">
      </li>
    </ul>
  </div>
</div>